<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Clear Science Inc. Issues Form</title>

        <!-- CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
		    <link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">

    </head>

    <body class="container" ng-app="app" ng-controller="MainCtrl as main">

		<!-- Top content -->
        <div class="top-content">

            <div class="inner-bg">
                <div class="header">
                      <div class="nav">
                        <a href="#" class="thumbnail">
                          <img src="assets/img/csi_logo_crop.png" alt="CSI Logo">
                        </a>
                        <div class="col-sm-8 col-sm-offset-2 text">
                          <!-- <h1>Clear Science Inc.</h1> -->
                          <h1 class="subheading"><small><span class="label label-default">Issues Form</span></small></h1>
                        </div>
                      </div>
                    </div>

                <div class="content">

                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                    			  <h3>Please provide us details about your issue.</h3>
                          </div>
                            <div class="form-bottom contact-form">
			                    <form name="userForm" novalidate>
			                    	<div class="form-group">
                              <label class="sr-only" for="contact-name">Name</label>
                                <input type="text" name="name" placeholder="Name..." class="form-control" ng-model="main.name" ng-minlength="1" required>
			                        </div>
			                        <div class="form-group">
                                <label class="sr-only" for="contact-email">Email</label>
                                  <input type="text" name="email" placeholder="Email..." class="contact-email form-control" ng-model="main.email" ng-minlength="3" required>
			                        </div>
                              <div class="btn-group form-group">
                                <label class="sr-only" for="contact-project">Project</label>
                                  <button type="button" name="project" placeholder="Please select the project..." class="contact-project form-control btn btn-default dropdown-toggle"  data-toggle="dropdown">
                                    Select project <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                    <li><a href="">ACAF 4.0</a></li>
                                    <li><a href="">ACAF 5.0</a></li>
                                    <li><a href="">Drift-SAR</a></li>
                                </div>
                              <div class="form-group">
                                <label class="sr-only" for="contact-shareurl">Share URL</label>
                                  <input type="text" name="shareurl" placeholder="Please share your URL..." class="contact-shareurl form-control">
                                  <div class="help-block" ng-messages="userForm.name.$error" ng-show="userForm.name.$touched">
                                    <div ng-messages-include="messages.html"></div>
                                  </div>
			                        </div>

			                        <div class="form-group">
			                        	<label class="sr-only" for="contact-message">Issue</label>
			                        	<textarea name="message" placeholder="Please describe the issue..." class="contact-message form-control"</textarea>
			                        </div>
			                        <div class="form-group">
			                        	<label for="contact-antispam">Antispam question: 7 + 5 = ?</label>
			                        	<input type="text" name="antispam" placeholder="Your answer..." class="contact-antispam form-control" >
			                        </div>
			                        <button type="submit" class="btn btn-danger">Send message</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
          </div>
        </div>


        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.6/angular-messages.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        <script src="assets/app.js"></script>

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>
