<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clear Science Inc. Issues Form</title>

    <!-- CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/form-elements.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.4/ng-file-upload.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">

</head>

<body ng-controller="MyCtrl" ng-app="fileUpload">

    <div class="bg">
        <a href="#" class="not-active">
            <img id="logo" src="assets/img/csi_logo_crop.png" alt="CSI Logo">
        </a>

        <div class="container">
            <form enctype="multipart/form-data" class="well form-horizontal" name="myForm" id="mailgun" role="form" method="POST" novalidate>
                <fieldset>
                    <legend>Please provide details about your issue.
                        <p><span class="required">* </span>Required fields</p>
                    </legend>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Name</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="name" placeholder="Name" class="form-control" type="text" required="">
                                <i ng-show="myForm.name.$error.required">*required</i>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">E-Mail</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input name="email" placeholder="E-Mail Address" class="form-control" type="text" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Issue</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <textarea class="form-control" rows="6" name="message" placeholder="Please describe the issue..." required></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="project">Project</label>
                        <div class="col-md-4 selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                <select class="form-control selectpicker" name="project" id="project">
                                    <option value=" ">Please select project</option>
                                    <option value="acaf_4_0">ACAF 4.0</option>
                                    <option value="acaf_5_0">ACAF 5.0</option>
                                    <option value="drift_sar">Drift-SAR</option>
                                </select>
                                <br>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Upload File</label>
                        <div class="col-md-4 inputGroupContainer">
                            <input type="file" name="uploaded_file"><br>
                            <button type="button" ng-click="upload()">Upload</button>
                            <img ng-show="myForm.file.$valid" ngf-thumbnail="file" class="thumb">
                            <button ng-click="file = null" ng-show="file">Remove</button>
                            <br>
                            <span class="progress" ng-show="myForm.file.progress >= 0">
                            <div style="width:{{myForm.file.progress}}%" ng-bind="myForm.file.progress + '%'" class="ng-binding"></div>
                            </span>
                            <span ng-show="myForm.file.result">Upload Successful</span>
                            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="share">Share URL</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                                <input type="share" name="share" placeholder="Share URL..." class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn" ng-disabled="myForm.$invalid" ng-click="upload()">Submit</button>

                </fieldset>
            </form>
        </div>
    </div>
</body>

<!-- Javascript -->
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.6/angular-messages.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-aria.js" charset="utf-8"></script>
<!-- <script src="assets/js/jquery.backstretch.min.js"></script> -->
<!-- <script src="assets/js/scripts.js"></script> -->
<script src="app.js"></script>
<script src="assets/js/gmail.js" charset="utf-8"></script>


<!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->


</html>
